@font-face {
  font-family: Author;
  src: url("./fonts/Author-Variable.ttf");
}
@font-face {
  font-family: AuthorItalic;
  src: url("./fonts/Author-VariableItalic.ttf");
}

:root {
  /* Primary / Brand colors*/
  --color-primary-500: #22E57D;
  --color-primary-500-transparent: #22E57D40;

  --color-primary-900: #03401F;

  /* Neutral colors / greyscale */
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #F6F5F7;
  --color-neutral-300: #CECCD2;
  --color-neutral-400: #878291;
  --color-neutral-500: #423955;
  --color-neutral-900: #1E152A;
  --color-neutral-900-transparent: #1E152A40;

  /* Support colors */
  --color-support-info-500: #1D77E4;
  --color-support-info-500-transparent: #1D77E440;

  --color-support-positive-500: #30C825;
  --color-support-positive-500-transparent: #30C82540;

  --color-support-warning-500: #F2B61E;
  --color-support-warning-500-transparent: #F2B61E40;

  --color-support-danger-500: #EC2723;
  --color-support-danger-500-transparent: #EC272340;

  /* CONSTANTS */  
  --nav-min-height: 85px; /* minimal height of the bottom tab navigation bar */
  --hover-button-nav-margin: 40px;
  --hover-button-width-percentage: 80;

  /* Font */
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;

  --font-size-md: 18px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  
  /* Headings */
  --page-title-margin-bottom: 30px;
  --page-title-back-arrow-gap: 15px;

  --h2-margin-top: 35px; /* Defaults for every h2, can be omitted if h2 is directly beneath h1 (e.g. "Fahrt anbieten" screen) */
  --h2-margin-bottom: 20px;

  /* Padding */
  --app-padding-vertical: 35px;
  --app-padding-horizontal: 30px;

  --button-padding-vertical: 12px;
  --button-padding-horizontal: 35px;

  --container-padding-vertical: 12px;
  --container-padding-horizontal: 24px;
  
  --input-padding-top: 24px;

  --single-hover-button-view-container-padding: 60px;
  --double-hover-button-view-container-padding: 135px;
  
  /* vertical lines (e.g. "Profil", "Fahrtverlauf" screens) */
  --line-width-s: 1px;
  --line-width-m: 2px;

  /* icons */
  --icon-xl: 35px;
  --icon-md: 30px;
  --icon-s: 25px;

  --profile-picture-s-dim: 40px;
  --profile-picture-md-dim: 75px;
  --profile-picture-l-dim: 140px;

  /* misc */
  --checkbox-size: 25px;
  --status-dot-size: 10px;
  --border-radius: 10px;
  --drop-shadow-blur: 10px; 
  --horizontal-gap: 15px; /* default margin between elements like input fields when theyre right below each other and not separeted by headings for example */

  /* responsive */
  --tablet-content-max-width: 700px;
  --desktop-content-max-width: 900px;
}

/* LAYOUT */
*, *::before, *::after {
  box-sizing: border-box; /* enable border box box-sizing for EVERY component */
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Author, sans-serif;
  background: var(--color-neutral-100);
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    max-width: var(--tablet-content-max-width);
    box-shadow: 0 -1px 10px var(--color-neutral-900-transparent);
    min-height: 100vh;
    background: var(--color-neutral-100);
  }
}

@media (min-width: 1200px) {
  body {
    max-width: var(--desktop-content-max-width);
  }
}

#app {
  max-width: 1280px;
  padding: var(--app-padding-vertical) var(--app-padding-horizontal) calc(var(--nav-min-height) + var(--app-padding-vertical)); 
  position: relative;
  min-height: 100vh;
}

.view-container { /* main container for each view */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--horizontal-gap)
}

hr {
  border: none;
  border-top: var(--line-width-s) solid var(--color-neutral-300);
  margin: var(--horizontal-gap) 0;
  width: 100%;
}

.width-100 {
  width: 100%;
}

.error-message-container {
  padding: var(--container-padding-vertical) var(--container-padding-horizontal);
  background-color: var(--color-support-danger-500-transparent);
  border-radius: var(--border-radius);
}

.high-hover-button { /* show the hoverButton above the tab bar */
  bottom: calc(var(--nav-min-height) + var(--hover-button-nav-margin));
}

.low-hover-button { /* to show the hover button at the bottom, only for login and register screens */
  bottom: var(--hover-button-nav-margin)
}

/* TYPOGRAPHY */
h1 {
  font-family: Author;
  font-size: 36px;
  margin: 0;
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-900);
}
h2 {
  font-family: Author;
  font-size: 26px;
  margin: var(--h2-margin-top) 0 var(--h2-margin-bottom);
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-900);
}
h3 {
  font-family: Author;
  font-size: 20px;
  margin: 0;
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-900);
}

p {
  font-family: Author;
  font-size: var(--font-size-md);
  color: var(--color-neutral-900);
  margin: 0;
  font-weight: var(--font-weight-normal);
}

a {
  font-family: Author;
  font-size: var(--font-size-s);
  text-decoration: none;
}

/* Text font sizes */
.text-md {
  font-size: var(--font-size-md);
}
.text-s {
  font-size: var(--font-size-s);
}
.text-xs {
  font-size: var(--font-size-xs);
}

/* Text font weights */
.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-semibold {
  font-weight: var(--font-weight-semibold);
}

/* text decoration */
.text-strikethrough {
  text-decoration: line-through;
}

/* Text colors */
.text-primary {
  color: var(--color-primary-500)
}

.text-neutral-300 {
  color: var(--color-neutral-300)
}
.text-neutral-400 {
  color: var(--color-neutral-400)
}
.text-neutral-900 {
  color: var(--color-neutral-900)
}

.text-info {
  color: var(--color-support-info-500)
}
.text-warning {
  color: var(--color-support-warning-500)
}
.text-danger {
  color: var(--color-support-danger-500)
}
.text-success {
  color: var(--color-support-positive-500)
}

/* ICONS */
.icon-xl {
  height: var(--icon-xl);
  width: var(--icon-xl);
}
.icon-l {
  height: var(--icon-md);
  width: var(--icon-md);
}
.icon-s {
  height: var(--icon-s);
  width: var(--icon-s);
}

/* PADDING (Feel free to add stuff as you go */
.padding-bottom-hb-1 { /* Add this to the view-container if a single hoverbutton hides some of the contents */
  padding-bottom: var(--single-hover-button-view-container-padding);
}

.padding-bottom-hb-2 { /* Add this to the view-container if a double hoverbutton hides some of the contents */
  padding-bottom: var(--double-hover-button-view-container-padding);
}


/* MARGIN (Feel free to add stuff as you go */

/* TOP */
.margin-top-s {
  margin-top: 5px;
}

/* LEFT */
.margin-left-s {
  margin-left: 5px;
}

.margin-left-md {
  margin-left: 10px;
}

.margin-left-l {
  margin-left: 20px;
}

/* BOTTOM */
.margin-botton-s {
  margin-bottom: 5px;
}

.margin-botton-md {
  margin-bottom: 10px;
}

.margin-botton-l {
  margin-bottom: 20px;
}