@font-face {
  font-family: Author;
  src: url("./fonts/Author-Variable.ttf");
}
@font-face {
  font-family: AuthorItalic;
  src: url("./fonts/Author-VariableItalic.ttf");
}

:root {
  /* Primary / Brand colors*/
  --color-primary-500: #22E57D;
  --color-primary-500-transparent: #22E57D33;

  --color-primary-900: #03401F;

  /* Neutral colors / greyscale */
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #F6F5F7;
  --color-neutral-300: #CECCD2;
  --color-neutral-400: #878291;
  --color-neutral-500: #423955;
  --color-neutral-900: #1E152A;

  /* Support colors */
  --color-support-info-500: #1D77E4;
  --color-support-info-500-transparent: #1D77E433;

  --color-support-positive-500: #30C825;
  --color-support-positive-500-transparent: #30C82533;

  --color-support-warning-500: #F2B61E;
  --color-support-warning-500-transparent: #F2B61E33;

  --color-support-danger-500: #EC2723;
  --color-support-danger-500-transparent: #EC272333;

  /* Constants */
  --border-radius: 10px;

  --icon-height-xl: 25px;
  --icon-height-md: 20px;
  --icon-height-s: 15px;

  --drop-shadow-blur: 10px;

  --horizontal-padding: 15px;

  --line-width-s: 1px;
  --line-width-m: 2px;

  --button-padding-horizontal: 35px;
  --button-padding-vertical: 12px;

  --form-padding-horizontal: 25px;
  --form-padding-vertical: 6px;

  --body-padding-top: 35px;
  --body-padding-horizontal: 20px;

  --checkbox-size: 25px;
  --status-dot-size: 10px;

  --h1-arrow-back-padding: 25px;
}

/* Layout */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}



/* TYPOGRAPHY */
h1 {
  font-family: Author;
  font-size: 36px;
  margin: 0;
  font-weight: 600;
  color: var(--color-neutral-900);
}
h2 {
  font-family: Author;
  font-size: 26px;
  margin: 0;
  font-weight: 600;
  color: var(--color-neutral-900);
}
h3 {
  font-family: Author;
  font-size: 20px;
  margin: 0;
  font-weight: 600;
  color: var(--color-neutral-900);
}

p {
  font-family: Author;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

/* Text font sizes */
.text-xs {
  font-size: 14px;
}
.text-s {
  font-size: 16px;
}

/* Text font weights */
.text-bold {
  font-weight: 500;
}

/* Text colors */
.text-primary {
  color: var(--color-primary-500)
}
.text-info {
  color: var(--color-support-info-500)
}
.text-warning {
  color: var(--color-support-warning-500)
}
.text-danger {
  color: var(--color-support-danger-500)
}
